            <div class="education-container container-block">
                <h2 class="container-block-title">{{ .Site.Params.certifications.title }}</h2>
				{{ range .Site.Params.certifications.list }}
                <div class="item">
                    <h4 class="degree-level">{{ .level }}</h4>
                    <h5 class="meta">{{ .description }}</h5>
                    <div class="time">{{ .dates }}</div>
                </div><!--//item-->
				{{ end }}
            </div><!--//education-container-->
